@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    /*background-image: url(/res/bg1.jpeg);*/
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    position: relative;
    display: block;
    margin-bottom: 5%;
}

.navbar {
    display: flex;
    background-color: #000;
}

@media only screen and (max-width: 600px) {
    .navbar {
        display: block;
        width: 100%;
    }

    .logo {
        display: block;
        margin: 0 auto;
        width: 50%;
    }

    .pages {
        justify-content: center;
    }
}

.logo {
    filter: invert(1);
    width: 30%;
    padding: 3%;
    transition: 500ms;
}

.logo:hover {
    transform: scale(0.95);
    transition: 500ms;
}

.links {
    max-width: 30%;
    min-width: 20%;
    background-color: rgb(32, 32, 32);
    margin: auto;
    display: flex;
    align-items: center;
    padding: 2%;
    border-radius: 50px;
}

.websitePath {
    background: #000000;
}


.pages {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin: auto 3% auto auto;
}

.pages>li {
    text-decoration: none;
    list-style-type: none;
    margin: 10px;
}

.pages>li>button {
    padding: 0;
    background-color: transparent;
    color: #fff;
    border: 0px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    transition: 0.3s;
}

.pages>li>button:hover {
    transition: 0.3s;
    color: #ffffff86;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #000000;
    margin-left: 20%;
    margin-top: 5%;
    margin-right: 20%;
}

ul.breadcrumb li {
    display: inline;
    font-size: 14px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

ul.breadcrumb li+li:before {
    padding: 4px;
    color: rgb(116, 116, 116);
    content: "/\00a0";
}

ul.breadcrumb li button {
    color: #ffffffb0;
    text-decoration: none;
    transition: 0.5s;
    background: #000;
    border: 0px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
}

ul.breadcrumb li button:hover {
    color: #ffffff86;
    transition: 0.3s;
}


.homeIndex {
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px 16px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


@media only screen and (max-width: 600px) {
    .homeIndex {
        margin: 0 0;
    }

    ul.breadcrumb {
        margin-left: 0%;
        margin-top: 5%;
        margin-right: 0%;
    }
}

.homeBox {}

.homeName {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
}

#homeDesc {
    margin-top: 3%;
}

.description {
    margin-bottom: 20px;
    color: #ffffffb2;
}

.description a {
    color: #ffffffd3;
}

.page {
    display: none;
}

.active {
    display: block;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    min-height: 50vh;
    width: 100%;
}

.card {
    --blur: 16px;
    --size: clamp(230px, 35vmin, 500px);
    width: var(--size);
    aspect-ratio: 4 / 3;
    position: relative;
    border-radius: 0.8rem;
    overflow: hidden;
    color: #000;
    transform: translateZ(0);
    margin-right: 3%;
    margin-top: 3%;
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(calc(1 + (var(--hover, 0) * 0.25))) rotate(calc(var(--hover, 0) * -5deg));
    transition: transform 0.2s;
}

.card__footer {
    padding: 0 0.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    width: 100%;
    background: rgb(0, 0, 0);
    display: grid;
    grid-template-row: auto auto;
    gap: 0.5ch;
    background: hsla(0, 0%, 11%, 0.5);
    backdrop-filter: blur(var(--blur));
    height: 30%;
    align-content: center;
    color: #ffffffa6;
}

.card__action {
    position: absolute;
    aspect-ratio: 1;
    width: calc(var(--size) * 0.15);
    bottom: 30%;
    right: 1.5rem;
    transform: translateY(50%) translateY(calc((var(--size) * 0.4))) translateY(calc(var(--hover, 0) * (var(--size) * -0.4)));
    background: purple;
    display: none;
    place-items: center;
    border-radius: 0.5rem;
    background: hsla(0, 0%, 30%, 0.5);
    /*   backdrop-filter: blur(calc(var(--blur) * 0.5)); */
    transition: transform 0.2s;
}

.card__action svg {
    aspect-ratio: 1;
    width: 50%;
}

.card__footer span:nth-of-type(1) {
    font-size: calc(var(--size) * 0.065);
    font-weight: 600;
    display: flex;
    justify-content: left;
    align-items: center;
}

.card__footer span:nth-of-type(1) svg {
    margin-left: 5px;
}

.card__footer span:nth-of-type(2) {
    font-size: calc(var(--size) * 0.045);
}

.card:is(:hover, :focus-visible) {
    --hover: 1;
}


@media only screen and (max-width: 600px) {
    .cards {
        display: flex;
        flex-direction: column;
        place-items: center;
        min-height: 50vh;
        width: 100%;
    }


    .card {
        margin-top: 4%;
        width: clamp(100%, 35vmin, 500px);
    }
}

#skillsDesc {
    color: #ffffffb2;
    margin-top: 3%;
}

.skillsContainer {
    display: grid;
    grid-template-columns: auto auto auto;
}

.skills-item {}

.skills-item h3 {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

.skills-item ul {
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.skills-item>ul>li>a {
    text-decoration: underline;
    color: #ffffffd3;
    transition: 0.3s;
}

.skills-item>ul>li>a:hover {
    transition: 0.3s;
    color: #ffffff8c;
}


@media only screen and (max-width: 600px) {
    .skillsContainer {
        display: block;
    }
}

#homiesDesc {
    color: #ffffffb2;
    margin-top: 3%;
}

footer {
    position: relative;
    bottom: 0;
    margin-top: 10%;
    margin-left: 3%;
    margin-right: 3%;
}

.footer_container {
    display: flex;
    align-items: center;
}

.socials {
    margin-top: 1%;
    padding: 10px 16px;
}

.socials a {
    text-decoration: none;
    transition: 0.3s;
    margin-right: 5px;
}

.socials a:hover {
    opacity: 75%;
    transition: 0.3s;
}

.copyright {
    margin-left: auto;
    margin-top: auto;
    color: #ffffffa6;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    margin-bottom: 20px;
    margin-right: 10px;
}


@media only screen and (max-width: 600px) {
    .footer_container {
        display: block;
    }

    footer {

        margin-top: 5%;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 5%;
    }

    .socials {
        display: flex;
        justify-content: center;
    }

    .copyright {
        font-size: 10px;
        margin: 0 auto;
        text-align: center;
    }
}